:root{
  --color1: rgba(219,144,.5);
  --color2: rgba(23,100,83.0788);
  --color3: rgba(11,194,211,0.623);
  --fondo: #f2f2f2;
  --titulos:33px;
  --margenes: 60px;
  --espacios:10px;
  --espacios-contenido:45px
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    font-family: 'open sans';
    background: var(--fondo)
}

img{
  vertical-align: top;

}

/* preloade */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background:gray;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* header */
foto{

}

header{
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom,
  rgba(211,135,20, .6),
  rgba(29,241,171, .6),
  rgba(7,109,150, .45)
  ), url(img/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

nav{
  width: 100%;
  position: fixed;
  height: 80px;
  box-shadow: 0 0 10px rgba(0,0,0, .5)
}

.nav1{
  background: transparent;
  height: 80px;
  color: #fff;

}

.nav2{
  background: (--fondo);
  height: 100px;
  color:#000;
}

.conternedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}


nav .enlaces a {
  display: inline-block;
  padding: 5px;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 1px solid #722706;
  transition: 0.6s;
}

.logo, .logo img{height: 80px;}

.icono{
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;

}
.textos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center; 


}

.textos>h1{
  font-size: 40px;
}

.textos>h2{
  font-size: 30px;
  font-weight: 300;
}

/* Main */

.conternedor{
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.conternedor h3{
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);

   
}

.conternedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top:var(--espacios);
  width: 100px;
  height: 2px;
  background:  var(--color1);
  margin-bottom:var(--espacios-contenido);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card{
  width: 150%;
  box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
  overflow: hidden;
  height: 400px;

}
.people{
  height: 80%;
}
.perfil{
  font-size: var(--subtitulos);
  color: #000;
}

/* .content-card img{
  width: 100%;
  height: 100%;
  object-fit:cover;

} */
.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}

.abaut{
  background: url(img/teclado.jpg);
  height: auto;
}
.imagen img{
  border-radius: 80%;
}

.studios{
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  
}

.caja-estudios>h4{
  margin-bottom: var(--espacios);
}

.caja-estudios>p{
  text-align: center;
  
}